<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= config.description %>">
    <meta name="keyword" content="<%= config.keyword %>">
    <meta name="theme-color" content="#600090">
    <meta name="msapplication-navbutton-color" content="#600090">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#600090">
    <link rel="shortcut icon" href="<%- config.favicon || 'https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-person-128.png' %>">
    <link rel="alternate" type="application/atom+xml" title="<%= config.title %>" href="/atom.xml">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css">
    <title>
        <% if (page.title) { %>
        <%= page.title + '｜' + config.SEOTitle %>
        <% } else{ %>
        <%= config.SEOTitle %>
        <% } %>
    </title>

    <link rel="canonical" href="<%= config.url + config.root + (page.path || '').replace('index.html', '') %>">

    <!-- Bootstrap Core CSS -->
    <%- css('css/bootstrap.min.css') %>

    <!-- Custom CSS -->
    <%- css('css/blog-style.css') %>

    <!-- Pygments Github CSS -->
    <%- css('css/syntax') %>

    <script src="<%= config.root + 'js/raphael-min.js' %>"></script>
    <script src="<%= config.root + 'js/jquery.min.js' %>"></script>
    <script src="<%= config.root + 'js/flowchart.js' %>"></script>
    <script>
        window.onload = function () {
            var cd = document.getElementById("flowchart_code"),
                num = 0;
            var canvas_name = "flowchart_canvas";
            while (cd) {
                var code = cd.value;
                var chart = flowchart.parse(code);
                if (num > 0) {
                  canvas_name = canvas_name + num.toString();
                }
                chart.drawSVG(canvas_name, {
                  // 'x': 30,
                  // 'y': 50,
                  'line-width': 3,
                  'line-length': 50,
                  'text-margin': 10,
                  'font-size': 14,
                  'font': 'normal',
                  'font-family': 'Helvetica',
                  'font-weight': 'normal',
                  'font-color': 'black',
                  'line-color': 'black',
                  'element-color': 'black',
                  'fill': 'white',
                  'yes-text': 'yes',
                  'no-text': 'no',
                  'arrow-end': 'block',
                  'scale': 1,
                  'symbols': {
                    'start': {
                      'font-color': 'red',
                      'element-color': 'green',
                      'fill': 'yellow'
                    },
                    'end':{
                      'class': 'end-element'
                    }
                  },
                  'flowstate' : {
                    'past' : { 'fill' : '#CCCCCC', 'font-size' : 12},
                    'current' : {'fill' : 'yellow', 'font-color' : 'red', 'font-weight' : 'bold'},
                    'future' : { 'fill' : '#FFFF99'},
                    'request' : { 'fill' : 'blue'},
                    'invalid': {'fill' : '#444444'},
                    'approved' : { 'fill' : '#58C4A3', 'font-size' : 12, 'yes-text' : 'APPROVED', 'no-text' : 'n/a' },
                    'rejected' : { 'fill' : '#C45879', 'font-size' : 12, 'yes-text' : 'n/a', 'no-text' : 'REJECTED' }
                  }
                });
                ++num;
                cd = document.getElementById("flowchart_code" + num.toString());
            }
        };
    </script>
</head>
